/* MY BOOKS */

.gr-ext-mybooks.mainContent { width: 100% !important; }
.gr-ext-mybooks .mainContentFloat { width: 99% !important; }
.gr-ext-mybooks #leadercol { 
    width: 100% !important; 
    padding-left: 15px;
}
.gr-ext-mybooks #rightCol { width: calc(100% - 210px) !important; }
.gr-ext-mybooks #sidewrapper { padding-left: 15px; }

.covers .bookalike {
    height: auto !important;
    display: inline-block !important;
    vertical-align: top !important;
    float: none !important;
}

#books.covers .bookalike, #books.covers .bookalike .cover {
    width: 150px !important;
}

#books.covers .bookalike .cover img {
    max-width: 150px !important;
    max-height: initial !important;
}

.BookCover__image { border-radius: 0 !important; }
.BookCard__clickCardTarget { width: 100% !important; }

@media only screen and (min-width: 64em) {
    .BookPage .BookPage__bookCover {
        width: 100% !important;
    }
}

/* BOOK DETAILS */

.gr-ext-bookpage {
    width: 99% !important;
    max-width: initial !important;
}

.gr-ext-bookpage .BookCover__image {
    width: 70%;
    margin: auto;
}

.gr-ext-bookpage .BookPage__leftColumn .Sticky {
    top: 66px !important;
}

.gr-ext-bookpage .BookPage__rightColumn {
    grid-column: span var(--num-custom-col-5) !important;
}

.secondRightDiv {
    grid-column: span var(--num-custom-col-4);
}

@media only screen and (min-width: 64em) {
    :root {
        --num-custom-col-5: 5;
        --num-custom-col-4: 4;
    }
}

.div-title-ext { padding-top: 5px; }

.PageFrame__main.BookPage .BookDiscussions {
    width: 60% !important;
    margin: auto !important;
}

/* HOME PAGE */

.gr-homePageBody main { width: 100% !important; }

.homeSecondaryColumn, .homeTertiaryColumn { 
    width: 20% !important; 
    margin-left: 5%;
}

.homePrimaryColumn { width: 45% !important; }
.homeTertiaryColumn { float: left !important; }

.gr-ext-annoucement-right {
    transform-origin: top right;
    transform: rotate(90deg) !important;
    top: 50vh !important;
    right: 0;
    width: 100vh !important;
    position: fixed !important;
    height: 40px !important;
    z-index: 100;
}


.choiceWidget__photoAndTextContainer img, .siteAnnouncement img, .gr-mediaFlexbox__media.siteAnnouncement__masthead { width: 100% !important; }

.choiceWidget .gr-mediaFlexbox__media { margin-right: 0px !important; }
/* GENERAL */

.Header__siteHeaderBanner { 
    height: auto !important;
    min-height: 50px !important;
}

.Header__logo:focus {
    box-shadow: none !important;
}

.Button--secondary:active, .Button--secondary:focus, .Button--tag:active, .Button--tag:focus, .Button--tertiary:active, .Button--tertiary:focus {
    box-shadow: none !important; 
}

:focus-visible {
    outline: none !important;
}

.content {
    min-height: 101% !important;
}