/* MY BOOKS */

.gr-ext-mybooks.mainContent { width: 100% !important; }
.gr-ext-mybooks .mainContentFloat { width: 99% !important; }
.gr-ext-mybooks #leadercol { 
    width: 100% !important; 
    padding-left: 15px;
}
.gr-ext-mybooks #rightCol { width: calc(100% - 210px) !important; }
.gr-ext-mybooks #sidewrapper { padding-left: 15px; }

.covers .bookalike {
    height: auto !important;
    display: inline-block !important;
    vertical-align: top !important;
    float: none !important;
}

#books.covers .bookalike, #books.covers .bookalike .cover {
    width: 150px !important;
}

#books.covers .bookalike .cover img {
    max-width: 150px !important;
    max-height: initial !important;
}

.BookCover__image { border-radius: 0 !important; }
.BookCard__clickCardTarget { width: 100% !important; }

@media only screen and (min-width: 64em) {
    .BookPage .BookPage__bookCover {
        width: 100% !important;
    }
}

/* BOOK DETAILS */

.gr-ext-bookpage {
    width: 99% !important;
    max-width: initial !important;
}

.gr-ext-bookpage .BookCover__image {
    width: 70%;
    margin: auto;
}

.gr-ext-bookpage .BookPage__leftColumn .Sticky {
    top: 66px !important;
}

.gr-ext-bookpage .BookPage__rightColumn {
    grid-column: span var(--num-custom-col-5) !important;
}

.secondRightDiv {
    grid-column: span var(--num-custom-col-4);
}

@media only screen and (min-width: 64em) {
    :root {
        --num-custom-col-5: 5;
        --num-custom-col-4: 4;
    }
}

.div-title-ext { padding-top: 5px; }

.PageFrame__main.BookPage .BookDiscussions {
    width: 60% !important;
    margin: auto !important;
}

.gr-ext-book-edition-notation-left .MyReviewCard__profile, .gr-ext-book-edition-notation-left-no-carousel .MyReviewCard__profile, 
.gr-ext-book-edition-notation-left .Avatar, .gr-ext-book-edition-notation-left-no-carousel .Avatar { display: none !important; }

.gr-ext-book-edition-notation-left-no-carousel .MyReviewCard__content
, .gr-ext-book-edition-notation-left .MyReviewCardCarousel:not(:has(.BookCard)) .MyReviewCard__content { grid-column: span 11 !important; }

.gr-ext-book-edition-notation-left .MyReviewCardCarousel:not(:has(.BookCard)) .MyReviewCard__tags { text-align: center !important; }


.gr-ext-book-edition-notation-left .WriteReviewCTA, .gr-ext-book-edition-notation-left-no-carousel .WriteReviewCTA { 
    padding: 0 !important;
    margin-top: 1rem !important;
}

.BookPage__leftColumn .BookActions { margin: 0 !important; }

.gr-ext-book-edition-notation-left .WriteReviewCTA__message, .gr-ext-book-edition-notation-left-no-carousel .WriteReviewCTA__message { font-size: 1.6rem !important; }

.gr-ext-book-edition-notation-left .WriteReviewCTA__reviewCTA, 

.gr-ext-book-edition-notation-left-no-carousel .WriteReviewCTA__reviewCTA { 
    flex-direction: column !important; 
    gap: 1rem !important;
}

.gr-ext-book-edition-notation-left .MyReviewCard__row { 
    flex-direction: column-reverse !important; 
    align-items: center;
}

.gr-ext-book-edition-notation-left .MyReviewCard__bookCardContainer { grid-column: span 3 !important; }

.gr-ext-book-edition-notation-left .MyReviewCard__content { grid-column: span 5 !important; }

.gr-ext-book-edition-notation-left .Carousel__header, .gr-ext-book-edition-notation-left .MyReviewCardCarousel__header { display: none !important; }

.gr-ext-book-edition-notation-left .WriteReviewCTA__hero--overflow { justify-content: space-around !important; }
.gr-ext-book-edition-notation-left .WriteReviewCTA.WriteReviewCTA--leftAligned { align-items: center !important; }

.gr-ext-book-edition-notation-left .CarouselGroup { margin: 0 !important; }

.gr-ext-book-edition-notation-left .Divider, .gr-ext-book-edition-notation-left .Carousel div:has(.CaretSmallIcon),
.gr-ext-book-edition-notation-left-no-carousel .Divider { display: none !important; }


.gr-ext-book-edition-notation-left .BookActions, .gr-ext-book-edition-notation-left-no-carousel .BookActions { 
    justify-content: space-evenly !important; 
    flex-direction: row !important;
    align-items: center !important;
}

.gr-ext-book-edition-notation-left .BookActions .Button, .gr-ext-book-edition-notation-left-no-carousel .BookActions .Button { 
    font-size: 1.3rem !important;
    /* border-radius: 0 !important; */
    padding: 0px 6px !important;
}

.gr-ext-book-edition-notation-left .BookActions .BookActions__button, .gr-ext-book-edition-notation-left-no-carousel .BookActions .BookActions__button,
.gr-ext-book-edition-notation-left .BookActions__alert, .gr-ext-book-edition-notation-left-no-carousel .BookActions__alert { 
    margin: 0 !important;
    flex-basis: 100%;
}

.gr-ext-book-edition-notation-left .MyReviewCard, .gr-ext-book-edition-notation-left-no-carousel .MyReviewCard {
    display: flex !important;
}

.gr-ext-book-edition-notation-left .Carousel__paginationButton--right .Button__container, 
.gr-ext-book-edition-notation-left-no-carousel .Carousel__paginationButton--right .Button__container {
    right: -1rem !important;
}

.gr-ext-book-edition-notation-left .Carousel__paginationButton .Button__container, 
.gr-ext-book-edition-notation-left-no-carousel .Carousel__paginationButton .Button__container,
.gr-ext-book-edition-notation-left .Carousel__paginationButton .Button__container,
.gr-ext-book-edition-notation-left-no-carousel .Carousel__paginationButton .Button__container {
    top: 60% !important;
}

.gr-ext-book-edition-notation-left .MyReviewCardCarousel {
    margin-top: 1rem !important;
}

.gr-ext-book-edition-notation-left .Carousel__paginationButton--left .Button__container { 
    margin-left: 0 !important;
}

.gr-ext-book-edition-notation-left .BookActions .BookRatingStars, .gr-ext-book-edition-notation-left-no-carousel .BookActions .BookRatingStars, 
.gr-ext-book-edition-notation-left .BookActions__editActivityButton,
.gr-ext-book-edition-notation-left-no-carousel .BookActions__editActivityButton { display: none !important; }

.gr-ext-book-edition-notation-left .BookCover__image, .gr-ext-book-edition-notation-left-no-carousel .BookCover__image {
    text-align: center;
}


.gr-ext-book-edition-notation-left .Alert.Alert--informational, .gr-ext-book-edition-notation-left-no-carousel .Alert.Alert--informational {
    padding: 5px;
    font-size: 1.2rem;
}

.gr-ext-book-edition-notation-left .MyReviewCard, .gr-ext-book-edition-notation-left-no-carousel .MyReviewCard {
    justify-content: center !important;
}

.gr-ext-book-edition-notation-left .Text.Text__title3, .gr-ext-book-edition-notation-left-no-carousel .Text.Text__title3 {
    text-align: center !important;
}

.gr-ext-book-edition-notation-left .BookActions__button:nth-of-type(2), .gr-ext-book-edition-notation-left-no-carousel .BookActions__button:nth-of-type(2) { 
    margin-left: 8px !important;
}

.gr-ext-friends-notation .Alert--informational, .gr-ext-friends-notation .Divider { display: none !important;}
.gr-ext-friends-notation { padding-bottom: 8px; }

.gr-ext-book-edition-notation-left .Sticky, .gr-ext-book-edition-notation-left-no-carousel .Sticky {
    display: flex;
    flex-direction: column;
    place-content: center space-evenly;
}

.modal-backdrop{
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
}
  
#modal-content{
    background-color: #fff;
    margin: 10% auto 0 auto;
    width: 50%;
    max-width: 800px;
    max-height: 500px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
    border-radius: 5px;

    overflow-y: auto;
}
  
#modal-header h2{ margin: 0; }

#modal-header{
    background: rgb(240, 240, 240);
    padding: 15px;
    border-radius: 5px 5px 0 0;
}

#modal-body{
    padding: 10px 20px;
}

#modal-close{
    font-size: 2rem;
    float: right;
    cursor: pointer;
}

/* HOME PAGE */

.gr-homePageBody main { width: 100% !important; }

.homeSecondaryColumn, .homeTertiaryColumn { 
    width: 20% !important; 
    margin-left: 5%;
}

.homePrimaryColumn { width: 45% !important; }
.homeTertiaryColumn { float: left !important; }

.gr-ext-annoucement-right {
    transform-origin: top right;
    transform: rotate(90deg) !important;
    top: 50vh !important;
    right: 0;
    width: 100vh !important;
    position: fixed !important;
    height: 40px !important;
    z-index: 100;
}


.choiceWidget__photoAndTextContainer img, .siteAnnouncement img, .gr-mediaFlexbox__media.siteAnnouncement__masthead { width: 100% !important; }

.choiceWidget .gr-mediaFlexbox__media { margin-right: 0px !important; }

/* GENERAL */

.Header__siteHeaderBanner { 
    height: auto !important;
    min-height: 50px !important;
}

.Header__logo:focus {
    box-shadow: none !important;
}

.Button--secondary:active, .Button--secondary:focus, .Button--tag:active, .Button--tag:focus, .Button--tertiary:active, .Button--tertiary:focus {
    box-shadow: none !important; 
}

:focus-visible {
    outline: none !important;
}

.content {
    min-height: 101% !important;
}

.NativeAdWrapper { display: none !important;}